.choice {
  position: relative;
  &__bg-black {
    padding-top: 55px;
    min-height: 499px;
    background: #070716;
  }
  &__btn {
    margin-bottom: 26px;
    color: #070716;
    background-color: white;
  }
  &__title {
    color: white;
  }
  &__subtitle {
    margin-bottom: 54px;
    color: white;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__bg-white {
    background-image: url("../image/bg_car_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 397px;
  }
  &__text {
    position: absolute;
    left: 35%;
    bottom: 143px;
  }
}
